<% if (folders && folders.length > 0) { %>
  <ul>
    <% folders.forEach(folder => { %>
      <li class="folder-button">
        <!-- Folder name links to view files -->
        <a href="/folder/<%= folder.id %>"><button><%= folder.name %></button></a>
        
        <!-- Delete button -->
        <form action="/folder/delete" method="POST" style="display: inline;">
          <input type="hidden" name="folderId" value="<%= folder.id %>">
          <button type="submit">DELETE</button>
        </form>
      </li>
    <% }) %>
  </ul>
<% } else { %>
  <p>You have no folders. Create one below!</p>
<% } %>