<% if (folders && folders.length > 0) { %>
  <ul>
    <% folders.forEach(folder => { %>
      <li class="folder-button"><button><%= folder.name %></button></li>
    <% }) %>
  </ul>
<% } else { %>
  <p>You have no folders. Create one below!</p>
<% } %>