<form action="/auth/signup" method="POST">
  <h1>Signup Form</h1>
  <label for="email">Email:</label>
  <input type="email" name="email" id="email">
  <label for="password">Password:</label>
  <input type="password" name="password" id="password">
  <label for="confirmPassword">Confirm password:</label>
  <input type="password" name="confirmPassword" id="confirmPassword">
  <div class="form-buttons">
    <button type="submit">Submit</button>
    <button><a href="/">Back to home</a></button>
  </div>

</form>